// page color variables
$main: #000;
$secondary: rgb(59, 71, 243);
$accent: #f00;

// general colors
$white: #fff;
$dark: #444;

// Text colors variables
$text-main: $main;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $secondary;
