// page color variables
$main: hsl(220, 98%, 61%);
$checkbox: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$accent: #f00;
$shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);

// light mode
$light-main: hsl(0, 0%, 98%);
$light-secondary: hsl(236, 33%, 92%);
$light3: hsl(233, 11%, 84%);
$light4: hsl(236, 9%, 61%);
$light5: hsl(235, 19%, 35%);

//dark mode
$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

// general colors
$white: #fff;
$dark: #444;

// Text colors variables

$text-inverse: $white;
$text-accent: $accent;
//$text-secondary: $secondary;

// Device width
$mobile-width: 375px;
$desktop-width: 1440px;
