// Font variables

$font-stack: 'Roboto', sans-serif;

// Font weight variables

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-super-bold: 900;

// 1px border shortcut

$test-border: 1px solid black;

// Font mixin here if needed
