@import 'abstracts/colors';

body.dark {
  background: $dark1;
}

.big-container.dark {
  li,
  .create-todo,
  .input,
  .tasks-filter {
    background: $dark2;
  }

  input {
    color: $dark6;
  }

  li,
  button {
    color: $dark4;
  }

  button {
    &:hover {
      color: $dark7;
    }

    &:focus {
      color: $main;
      outline: none;
    }
  }

  .checkbox {
    border-color: $dark4;
  }

  .task-row {
    color: $dark6;
  }

  .checked {
    & + div {
      color: $dark4;
    }
  }
}
