// how to use  a grid system
// containers get .grid
// elements get .col

.grid {
  display: flex;
  flex-wrap: wrap;
}

// 100% only on mobile
.col {
  flex: 0 0 100%;
}

// always 100%
.col--full {
  flex: 0 0 100%;
}
