// navigation style

.main-nav {
  background: $accent;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  height: 100vh;
  font-size: 1.2rem;
  overflow: hidden;
  transition: all 250ms ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
  }

  li {
    color: $text-inverse;
    flex: 1 1 auto;
    border: $test-border;
    display: flex;
  }

  a {
    color: $text-inverse;
    text-decoration: none;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &.is-open {
    left: 0;
  }
}

// Hamburger menu

.nav-toggle {
  display: block;
  padding: 1em;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: 2em;
  height: 4px;
  background: $accent;
  transition: all ease-in-out 250ms;
  border-radius: 3px;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(4px);
}

.hamburger.is-open {
  transform: rotate(45deg);
  background-color: white;

  &::after {
    transform: rotate(-90deg);
    background-color: white;
  }

  &::before {
    display: none;
  }
}
