.tasks-container li {
  background: $white;
  padding: 0.9em 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-container {
  margin-top: 1em;
  box-shadow: $shadow;
  border-radius: 5px;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.089);
  text-align: left;

  li {
    opacity: 1;
    margin-bottom: 2px;
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  }

  li:hover .cross-icon {
    opacity: 1;
  }

  li:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.task-row:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 7px 0 rgba(22, 23, 34, 0.5);
}

.task-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.task {
  margin-left: 0.6em;
  transform: translateY(2px);
  cursor: pointer;
  flex-grow: 1;
}

.cross-icon {
  min-height: 1em;
  height: 1em;
  min-width: 1em;
  opacity: 0;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

ul .tasks-status {
  color: $light4;
  justify-content: space-between;
  border-bottom: none;
  font-size: 0.8em;

  @media (min-width: 420px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.tasks-filter {
  background: $white;
  margin-bottom: 3em;
  box-shadow: $shadow;
  border-radius: 5px;
  overflow: hidden;

  @media (min-width: 420px) {
    box-shadow: none;
    margin-bottom: 0;

    li {
      padding: 0;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.tasks-left {
  padding: 0 1.5em;
}

.tasks-clear {
  margin: 0;
}

.drag-message p {
  color: $light4;
  font-weight: $font-bold;
}

.input::placeholder {
  color: $light4;
}
