// buttons styling

.theme {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 2rem;

  &:focus,
  &:active {
    color: $light1;
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  img {
    margin-left: 15px;
  }

  span {
    display: none;

    @media screen and (min-width: 420px) {
      display: inline;
    }
  }
}

.lift-release-icon {
  background-image: url(/img/arrow-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 60px;
  min-height: 25px;
  height: 25px;
  min-width: 25px;
  cursor: pointer;
  transform: translateY(100px);
  transition: transform 200ms ease-in-out;
}

.cross-icon {
  background-image: url(/img/cross-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25px;
  height: 25px;
  min-width: 25px;
  cursor: pointer;
  transform: translateY(100px);
  transition: transform 200ms ease-in-out;
}

.simulated-hover {
  transform: translateY(-2px);
  box-shadow: 0 0 7px 0 rgba(22, 23, 34, 0.5);

  & .cross-icon,
  .lift-release-icon {
    transform: translateY(0);
  }
}

.task-row:hover,
.task-row:focus {
  @media screen and (min-width: 420px) {
    transform: translateY(-2px);
    box-shadow: 0 0 7px 0 rgba(22, 23, 34, 0.5);

    & .cross-icon,
    .lift-release-icon {
      transform: translateY(0);
    }
  }
}

.rotate-180 {
  transform: rotate(180deg) translateY(1px);
}

.btn {
  display: inline-block;
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--primary {
  background: $accent;
  border: 2px solid $accent;
  color: $text-inverse;

  &:hover,
  &:focus {
    background: darken($accent, 15%);
    border-color: darken($accent, 15%);
  }
}

.btn--secondary {
  border: 2px solid $accent;
  color: $accent;

  &:hover,
  &:focus {
    background: $accent;
    color: $text-inverse;
  }
}
