// general things, helper classes
// classes that can be used multiple times

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --body-bg-color: #{$light1};
  --elem-bg-color: #{$white};
  --elem-text-color: #{$light5};
  --button-text-color: #{$light4};
  --button-hover-text-color: #{$light5};
  --checkbox-border-color: #{$light2};
  --crossed-text-color: #{$light3};
  --elem-placeholder-bg: #{$placeholder-bg-light};
}

html.dark {
  --body-bg-color: #{$dark1};
  --elem-bg-color: #{$dark2};
  --elem-text-color: #{$dark6};
  --button-text-color: #{$dark5};
  --button-hover-text-color: #{$dark7};
  --checkbox-border-color: #{$dark4};
  --crossed-text-color: #{$dark4};
  --elem-placeholder-bg: #{$placeholder-bg-dark};
}

html.transition {
  &,
  & *,
  & *:before,
  & *:after {
    transition: all 200ms !important;
    transition-delay: 0s !important;
  }
}

body {
  text-align: center;
  font-size: 18px;
  color: $light5;
  background: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

// if img smaller than container, img will resize to fit
img {
  max-width: 100%;
  max-height: 100%;
}

// class on nav which makes the list unstyled
.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// elements that appear only on large screens, pick any px
.lg-screen {
  display: none;
  @media (min-width: 725px) {
    display: block;
  }
}

.checkbox {
  min-height: 23px;
  min-width: 23px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid var(--checkbox-border-color);
}

.checked {
  background: $checkbox;
  border: none;

  & + div {
    text-decoration: line-through;
    color: var(--crossed-text-color);
  }
}

button {
  background: none;
  border: none;
  font-weight: $font-bold;
  color: var(--button-text-color);
  margin: 0 0.2em;
  padding: 1em 0.8em;
}

button:hover {
  color: var(--button-hover-text-color);
}

button:focus {
  color: $main;
  outline: none;
}

.opace {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.throw-left-animation {
  transition: transform 400ms ease-in-out !important;
  transform: translateX(-1000px) !important;
}
